extends ../layouts/main-layout

block content

  form(action="/messages", method="POST")
    include ../partials/errors.pug
    h1 Create Message

    div 
      label(for="title") Title:
      input(type="text", name="title", id="title")

    div 
      label(for="message") Message:
      textarea(name="message", id="message")
      
    button(type="submit") Submit
    a(href="/") Cancel
    