extends ../layouts/main-layout

block content
  h1 Create Message

  form(action="/create-message", method="POST")
    div 
      label(for="title") Title:
      input(type="text", name="title", id="title")
    div 
      label(for="message") Message:
      textarea(name="message", id="message")
      
    button(type="submit") Submit
    